 body{
 	margin:0;
 }
 .main__header{
 	display: flex;
 	padding: .5em;
 	justify-content: space-between;
 	align-items: center;
 	background-color: orangered;
 	position: sticky;
 	top:0;
 	height: 65px;
 	z-index: 100;
 }
 .main__header a{
 	margin:.5em;
 	color:white;
 	text-decoration-line: none;
 	font-size: 18px;
 }
 .user_perfil{
 	background: orange;
 	display: inline-block;
 	padding: .3em .7em;
 	transition: .4s;
 	border-radius: 50%;
 	padding: 1em;
 	font-family: arial;
 }
 .user_perfil:hover{
	opacity: .6;
	transition: .4s;
 }
 .perfil_out{
 	background: #2222;
	display: inline-block;
 	padding: .3em .7em;
 	transition: .3s;
 	border-radius: 50%;
 	padding: 1em;


 }
  .perfil_out:hover{
  	opacity: .6;
  	transition: .3s;
  }
 .title{
 	font-family: sans-serif;
 	transition: .4s;
 	padding: 0;
 	border-radius: 5px;
 }
 .title:hover{
 	transform: scale(.9);
 	opacity: .4;
 /*	transition: .4s;*/

 	background-color: #2222;

 }
 .publish{
 	text-align: center;
 }
 .button_publish{
 	display: flex;
 	justify-content: center;
 	flex-direction: column-reverse;
 	align-items: center;
 	margin-bottom: 2em;
 	margin-top: -.5em;

 }
.buttonsend_publish{
	margin-top:2em;
}

.publish{
	background-color: #eee;
	padding: .3em;
}
.publish_file{
}
.text_publish{
	text-align:center;
	border-radius: 10px;
	resize: none;
	font-size: 25px;
	border: 1px solid #ddd;
	font-family: serif;
	width: 500px;
	padding-top: 1em;
	padding-bottom: -1em;
}
@media screen and (max-width: 340px){
	.text_publish{
		width: 300px;
	}
}
.buttonsend_publish{
 	padding: .5em 5em;
 	background-color: blue;
 	color: white;
 	font-family: sans-serif;
 	border: 0;
 	font-size: 17px;
 	border-radius:5px;
 	transition: .4s;
}
.buttonsend_publish:hover{
	transition: .4s;
	opacity: .7;
}
.states > *{
	 
	display: flex;
	justify-content: center;
	align-items: center;
}
.title_states{
	font-family: Arial;
	font-size: 24px;
	color: #333;
 
}
.data_state{
	padding: 0 .3em;
	margin: 1em;
	word-break: break-all;
	color: white;
	min-height: 100px;
	border:0;
	background-color: #333;
	border-radius: 5px;
	font-family: arial;
	transform: translateY(0);
	animation: moves .7s linear;
	transition: .8s;
 
}
@keyframes moves{
	to{
		transform: translateY(-100px);
		transition: .8s;
	}
}
.data_state:hover{
	transition: .4s;
	transform: translateX(-30px);
}
.login {
	background-color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: .3px;
	flex-direction: column;
	padding: 2em;
	padding-bottom: 10em
}

.responsivelogin{

}

.login input{
	margin: .3em;
	border-radius: 3px;
	padding: .5em 2.5em;
	text-align: center;
	border: 0;
	font-family: arial;
	font-size: 16px;
}
#sendData{
	margin-top: 1em;
	padding: .3em 4em;
	background-color: blue;
	color: white;
	font-family: arial;
	border: 0;
	border-radius: 5px;
	font-size: 16px;
	transition: .3s;
}
#sendData:hover{
	opacity: .7;
	transition: .3s;
	background-color: purple;
}
.title_login{
	font-family: sans-serif;
	font-size: 30px;
	background-color: #ccc;
	width: 100%;
	text-align: center;
	margin:0;
	padding:.5em 0 .8em 0;


}

.all{
	font-family: arial;
	font-weight: 600;
	margin-top: -.3em;
	font-size: 13px;
}
.all:hover{
	opacity: .8;
	transition: .4s;
}
.all a{
	background-color: #333;
	color: #ddd;
	padding: .3em 2em;
	border: 0;
	margin-bottom: -.3em;
	border-radius: 4px;
	text-decoration-line: none;
}






