 body{
 	margin:0;
 	background-color: #222;
 }
 .main__header{
 	display: flex;
 	padding: .5em;
 	justify-content: space-between;
 	align-items: center;
 	background-color: orangered;
 	position: sticky;
 	top:0;
 	height: 65px;
 	z-index: 100;
 }
 .main_out .title{
		display: none;
}
 .main__header a{
 	margin:.5em;
 	color:white;
 	text-decoration-line: none;
 	font-size: 18px;
 }
 .user_perfil{
 	background: orange;
 	display: inline-block;
 	padding: .3em .7em;
 	transition: .4s;
 	border-radius: 50%;
 	padding: 1em;
 	font-family: arial;

 }
 .user_perfil:hover{
	transform: scale(1.1) rotate(10deg);
	opacity: .6;
	background-color: rgba(0%, 0%, 0%, 50%);
	transition: .4s;
	color: white;

 }
 
 .perfil_out{
 	background: #2222;
	display: inline-block;
 	padding: .3em .7em;
 	transition: .3s;
 	border-radius: 50%;
 	padding: 1em;


 }
  .perfil_out:hover{
  	opacity: .6;
  	transform: scale(1.1) rotate(10deg);
  	transition: .3s;
  	background-color: #333;
  }
 .title{
 	font-family: sans-serif;
 	transition: .4s;
 	padding: .4em .2em;
 	padding-left: .3em;
 	padding-right: .3em;
 	border-radius: 5px;
 	transform: scale(1.2);
 	border-radius: 50%;


 }
 .title:hover{
 	background-color: #333;
 	transform: scale(1.4) rotate(10deg);
 	opacity: .6;
 	transition: .4s;


 }
 
 .button_publish{
 	display: flex;
 	justify-content: center;
 	flex-direction: column-reverse;
 	align-items: center;
 	margin-bottom: 2em;
 	margin-top: -.5em;

 }

.buttonsend_publish{
	margin-top:2em;
}

.publish{
 text-align: center;
	/*background-color: ;*/
	padding: .3em;
	padding-top: 3em
}
 
.text_publish{
	text-align:center;
	border-radius: 10px;
	resize: none;
	font-size: 25px;
	border: 0;
	background-color: #eee;
	font-family: serif;
	width: 300px;
	padding-top: 1em;
	padding-bottom: -1em;
	transition: 1s;
}
.text_publish:hover{
	background-color: rgba(0%, 0%, 0%,100%);
	transition: 1s;
	color: white;
}
.data_state{
	padding: 0 .3em;
	margin: 1em;
	word-break: break-all;
	color: white;
	min-height: 100px;
	border:0;
	background-color: #333;
	border-radius: 5px;
	font-family: arial;
	animation: moves .7s linear;
	transition: .8s;
 	 
}
@keyframes moves{
	to{
		/*transform: translateY(-100px);*/
		transition: .8s;
	}
}
.data_state:hover{
	transition: .4s;
	background-color: rgba(20%,20%,20%, 100%); 	
	opacity: .9;
}

.buttonsend_publish{
 	padding: .5em 5em;
 	background-color: blue;
 	color: white;
 	font-family: sans-serif;
 	border: 0;
 	font-size: 17px;
 	border-radius:5px;
 	transition: .4s;
}
.buttonsend_publish:hover{
	transition: .4s;
	cursor: pointer;
	opacity: .7;
}
@media screen and (min-width: 540px){

	.text_publish{
		width: 500px;
	}

}

.search{
 	border:1px solid #eee;
 	width: 280px;
	padding: .5em 1em;
	text-align: center;
	font-family: sans-serif;
	font-size: 18px;
	border-radius: 3px;
	margin-top: -3px;
 }
 .search__user{
 	position: sticky;
 	top: 81px;
 	margin-bottom: 0;
 	padding-bottom: .5em;
 	padding-top:.5em;
	background-color: #eeee;
 	text-align: center;
 		 
 }
 		
 .btn__search{
  	height:38px;
 	padding:.3em;
 	border:0;
 	color: #444;
 	font-size: 19px;
	/*background-color: #;*/
	transition: .4s;
	color: purple;
 	background-color: transparent;

 }
 	.btn__search:hover{
	cursor: pointer;
	transform: scale(1.2);
	transition: .4s;
	color: orangered;
}
@media screen and (min-width: 560px){

	.search{
 		width: 500px;
 	} 
}
@media screen and (max-width: 330px){
	body{
		margin-bottom: 10rem;
	}
	.main__header a{
		font-size: 16px;
		margin-left:1.3em;
	}
	.main_out > .title{
		display: inline-block;
	}
	.main__header {
		font-size: 10px;
		display: inline-flex;
		justify-content: space-between;
	}
	.main_main{
		display: none;
	}
	.title{
		background-color: orange;
		padding: .7em .7em;
		display: none;
	}
	.search{
 		width: 230px;
 	} 
		.main__header{
		position: fixed;
		top: 86%;
		width: 100%;

	}
	.search__user{
		position: sticky;
		top:0;
		margin-bottom: .1em;
		background-color: #eee;
		z-index: 400;

	}

}
.states > *{
	 background-color: #7777;
	display: flex;
	justify-content: center;
	align-items: center;
}
.states:hover > *{
	cursor: pointer;
}
.title_states{
	font-family: Arial;
	font-size: 24px;
	color: #333;
 
}
@media screen and (min-width: 700px){
	.data_state{
		width: auto;
	}
	.states{
		display: grid;
		grid-column-gap: 2px;
		grid-row-gap: 5px;
		grid-auto-flow: row;
		grid-template-rows: 200px 100px;
		grid-template-columns: 400px auto;
	}

}
@media screen and (min-width: 1200px){
	.data_state{
		width: auto;
	}
	.states{
		display: grid;
		grid-column-gap: 2px;
		grid-row-gap: 5px;
		grid-auto-flow: row;
		grid-template-rows: 200px 100px;
		grid-template-columns:auto 400px auto;
	}
}
.login {
	background-color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: .3px;
	flex-direction: column;
	padding: 2em;
	padding-bottom: 10em
}

.login input{
	margin: .3em;
	border-radius: 3px;
	padding: 1em 2.5em;
	text-align: center;
	border: 0;
	font-family: arial;
	font-size: 16px;
}
#sendData{
	margin-top: 1em;
	padding: .8em 6em;
	background-color: blue;
	color: white;
	font-family: arial;
	border: 0;
	border-radius: 5px;
	font-size: 16px;
	transition: .3s;
	font-weight: 600;
}
#sendData:hover{
	opacity: .7;
	transition: .3s;
	background-color: purple;
}
.title_login{
	font-family: sans-serif;
	font-size: 30px;
	background-color: #444;
	width: 100%;
	color: white;
	text-align: center;
	margin:0;
	padding:.5em 0 .8em 0;


}

.all:hover{
	opacity: .8;
	transition: .4s;
}
.all a{
	background-color: #333;
	color: #ddd;
	padding: .3em 2em;
	border: 0;
	margin-bottom: -.3em;
	border-radius: 4px;
	text-decoration-line: none;
}


.errormsj{
	color: white;
	width: 100%;
	text-align: center;
	padding: .3em 1em;
	font-family: arial;
	background-color: red;
	border-radius: 4px;
	border:0;
	font-weight: 600;
	letter-spacing: .5px;
	word-spacing: 2px;
	animation: errormsj .7s linear infinite backwards;
	
}
.scalade{

	transition: .3s;
	transform: translateX(-100px);
}
@keyframes errormsj{
	to{
		background-color: orangered;
	}
}

.visitweb{
	color: #666;
	border-radius: 4px;
	padding: 1em 0em;
	margin: .3em 0em;
	text-align:center;
	font-family: sans-serif;
	font-weight: 600;
	width: 100%;
	letter-spacing: .2px;
	font-size: 16px;
	background-color: #ddd;
	transition: 1s;
}
.removing{
	transition: 2s;
	transform: translateX(-100px) translateY(-200px) ;
}
.select__user {
	display: flex;
	justify-content: center;
	background-color: #222;
	margin:0;
	width: 100%;
	padding: 1em 0;
	position: sticky;
	bottom: 0;
	text-align: center;
	color: white;
}
.select__user a{
	text-decoration-line: none;
	color: #ddd;
	font-family: sans-serif;
	 
}

