.perfil__container{
	/*background-color: #333;*/
	height: 100vh;
	padding: 0 .5em;
	margin: 0 2em;
	display: grid;
	justify-content: center;

}
.title__name__container{
	text-align: center;

}

.title__user__perfil{
	color: #444;
	font-size: 20px;
	margin-top: -10rem;
	font-family: sans-serif;
}
.photo__perfil{
	width: 200px;
	height: 300px;
	padding:.2em;
	margin-bottom: .5em;
	 
	
}
.photo__perfil img{
	max-width: 240px;
	max-height: 250px;
}
@media screen  and (min-width: 350px){
	.photo__perfil{
		width: auto;
		max-height: 400px; 
	}
 
}
.img__perfil__fake{
	border-radius: 5px;
}
.statepersonal{
	color: #666;
	font-weight: 600;
	font-family: sans-serif;
	font-size: 12px;
	margin-top: -.8em;
}
.info__basic{
	display: flex;
	align-items: center;
	justify-content: center;
	
}
 .info-perso{
	font-family: arial;
	font-weight: 600;
	color: #444;
	text-align: center;
	margin-top: 3em;
 }
.info1{
	padding:-2em;
	margin-top: -9em;
}
 
.info__info{
	font-family: sans-serif;
	font-weight: 700;
	background-color:  #eee;
	width: 100%;
	margin: .3em;
	padding: 1em .5em;
	border-radius: 3px;
	/*text-align: center;*/

}
.info__info strong{
	font-family: arial;
	font-weight: 600;
	color: #333;
	text-align: center;
}
.containerTitleInfoBasic{
	margin-bottom: 1em;
	padding-bottom: 3em;
	margin-top: -5em
}
.titleInfoBasic{
	font-family: arial;
	color: #555; 
	height: 0;
}
.alias{
	 
}