
.perfil__container{
	/*background-color: #333;*/
	height: 100vh;
	padding: 0 .5em;
	margin: 0 2em;
	display: grid;
	justify-content: center;

}
.title__name__container{
	text-align: center;

}

.title__user__perfil{
	color: #444;
	font-size: 20px;
	margin-top: -7em;
	font-family: sans-serif;
}
@media screen and (min-width: 330px) {
	.title__user__perfil{
		margin-top: -4em;
	}
	body{
		background-color: red;
	}
}

.photo__perfil{
	width: 200px;
	height: 300px;
	/*padding:.2em;*/
	margin-bottom: .7em;
	 
	
}
 
.photo__perfil img{
	max-width: 240px;
	max-height: 250px;
}
@media screen  and (min-width: 350px){
	.photo__perfil{
		width: auto;
		max-height: 400px; 
		/*margin-bottom: 3em;*/
	}
 
}
.img__perfil__fake{

	border-radius: 5px;
}
.statepersonal{
	color: #666;
	font-weight: 600;
	font-family: sans-serif;
	font-size: 12px;
	margin-top: -.8em;
}
.info__basic{
	display: flex;
	align-items: center;
	justify-content: center;
	
}
 .info-perso{
	font-family: arial;
	font-weight: 600;
	color: #444;
	text-align: center;
	margin-top: 3em;
 }
.info1{
	padding:-2em;
	margin-top: -9em;
}
 
.info__info{
	font-family: sans-serif;
	font-weight: 700;
	background-color:  #eee;
	width: 100%;
	margin: .3em;
	padding: 1em .5em;
	border-radius: 3px;
	/*text-align: center;*/

}
.info__info strong{
	font-family: arial;
	font-weight: 600;
	color: #333;
	text-align: center;
}
.containerTitleInfoBasic{
	margin-bottom: .5em;
	padding-bottom: 3em;
	text-align:center;
	margin-top: -7em;
}
.titleInfoBasic{
	font-family: arial;
	color: #555; 
	height: 0;
}
.alias{
	padding-bottom:2em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column
}
.alias input{
	padding:.5em;
	text-align:center;
	font-family:arial;
	background-color: #ddd;
	border-radius: 3px;
	border: none;
	font-size: 16px;
	margin-bottom: .2em;
}
.alias button{
	padding:.7em 2em;
	font-weight: 600;
	font-size: 16px;
	text-align:center;
	font-family:arial;
	background-color:#eee;
	border:none;
	border-radius:5px;
	transition: .4s;
}
.alias button:hover{
	background-color:#ccc;
}
.form__incomplete:hover{
	opacity:.8;
}


.containerimgperfil{
	margin-bottom: 2em
}