.container__user__name{
	/*background-color: rgba(100%,0%,0%,20%);*/
	text-align: center;
	border:0;
	margin: .3em 1em;
	border-radius: 5px;
	height: 80px;
	transition:1s;
 	animation: shows 1s linear forwards;
}
.user__name{
	padding: .3em -1em;
	margin:0;
	font-size: 20px;
	color: #ddd;
	font-weight: 500;
	font-family: verdana;
}
.emoji{
	margin:0;
	padding: .3em;
	transform: scale(.6);
	animation: scalemoji 1s linear  forwards;
	transition:1s;
}
@keyframes scalemoji{
	to{
		transition:1s;
		transform: scale(1);
	}
	.container__user__name{

		background-color: rgba(100%,0%,0%,20%)
	}
}

@keyframes shows{

	to{
		transition:1s;
		/*background-color: rgba(100%,0%,0%,20%);*/
		background-color: #777;
	}
}
