
 	.user__name{
 		color: #333;
 		font-size: 18px;
 		text-align: center;
 		background-color: #eee;
 		margin:.3em;
 		padding:.3em;
 		width: auto;
 		border-radius: 3px;
 		font-family: arial !important;
 		animation: hiddens 3s linear;
 		transition: 1s;
 	}
 	@keyframes hiddens{
 		to{
 			opacity: 0;
 			transition: 1s;
 			transform: scale(.7);
 		}
 	}
 	.emoji{
 		font-size: 20px;
 		color: orange;
 		width: auto;
 		animation: emojianimation 2s linear backwards;
 		transition: 1s;
 		opacity: 1;
 	}
 	 	@keyframes emojianimation{
 		to{
 			transition: 2s;
 			color: blue;
 			transform: scale(3) rotate(30deg);
 		}
 	}