	.errormsj{
	color: white;
	text-align: center;
	/*margin: .3em;*/
	border:none;
	border-radius: 3px;
	background-color: red;
	padding:1em .8em;

	font-family: arial;
	font-weight: 600;
	animation: hiddenelement 4s .3s linear;
	transition: .3s; 
	
	position: absolute;
	left:0;
	bottom:1px;
	width: auto;
}
	@keyframes hiddenelement{
	to{
		transform: translateY(-200px);
		opacity: 0;
		transition: 1s;
	}
}
