
.home a{
	margin-top: 1em;
	border-radius: 5px;
	background-color: red;
	padding:.7em 4.6em;
	color:#ddd;
	font-family:arial;
	text-decoration: none;
	font-family: arial;
	transition:.3s;
}
.home a:hover{
	opacity: .7;
	transition:.3s;
	background-color: black; 
}