 
.container__change{
    text-align:center;
}

.viewContainer{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
}
.containerForm{
    height: 100%;
}
 
.closeview{
    color: #444;
    position: absolute;
    top: 0;
    margin: .5em .5em 1em 0;
    right: 0;
    font-family: arial;
    transition: .5s;
    font-size: 25px;
    background-color: #eee;
    padding:.1em .3em;
    font-weight: 600;
    border-radius: 3px;
}
.closeview:hover{
    transform: rotate(40deg);
    cursor: pointer;
    transition: .5s;
}
.goState{
    transform: translateY(700px);
    transition: 1.5s;
    opacity: 0;
    /*background-color: black;*/
}
.form__changes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align:center;

   
}
.imguserfake{
    display: block;
    margin: -20px .2em;
    border-radius:10px;
    transform: scale(.4);
    animation: bord 3s infinite linear;
    border: 5px solid red;
    transition: .6s;
    padding:.3em;
    border-style: dashed;
}

@keyframes bord{
    10%{
        border-color: blue;

    } 
    20%{
        border-color: yellow;
        
    }
    30%{
        border-color: #ddd;    
       
    }
    40%{
        border-color: #444;    
    }
}
.imguserfake:hover{
    transition: .3s;
    border-radius: 50%;
}
.bords{
    transition: .3s;
    border-radius: 50%;
}

.containerForm{
    padding-top: 1em;
}
.photoinput{
    width:130px;
   
}
.buttonchange{
    margin-top: 1em;
    width: 90%;
    padding: 1em;
    border: none;
    background-color: green;
    color: #ddd;
    font-weight: 600;
    font-family: arial;
    font-size: 20px;
    position: fixed;
    overflow: hidden;
    overflow-y: hidden;
    bottom:0;
    z-index: 1200;
    border-radius: 10px;
    transition: .5s;
     
}
.buttonchange:hover{
		transform: scale(.9);
        transition: .5s;
        border-radius:0;
		cursor: pointer;
}




.containerfloatingbutton{
    width: 100%;
    position: absolute;
    z-index: 1000000000;
    background-color: #eee;
    color: #333;
    font-family: arial;
    height: 200px;
    font-weight: 700;
    font-size: 20px;
    padding-top: 100px;
    text-align: center;
    box-shadow: 1px 1px 20px black;
}
 
 